.faqWrapper{
    margin-bottom: 20px;
    font-size: calc(12px + 0.5vw);
}
.faqQuestionContainer{
    padding: 10px 10px;
    background-color: #56667A;
    color: white;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    cursor: pointer;
}
.faqAnswerContainer{
    padding: 10px;
    background-color: rgba(86, 102, 122, 0.1);
}
.faqAnswerContainerHide{
    display: none;
}
.faqToggle{
    font-weight: 600;
    padding: 0 20px;
}