.homeServicesWrapper{
    background-color: rgba(86, 102, 122, 0.1);
    padding: 6vw;
    color: #070707;
}
.homeServicesHeading{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.homeServicesCards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}
.homeServicesCard{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.homeServicesCardTitle{
    margin-bottom: 10px;
}
.homeServicesCardDescription{
    padding-bottom: 10px;
    text-align: center;
}
.homeServicesKnowMore{
    font-weight: 600;
}