.filterButtonWrapper{
    font-size: 13px;
    font-weight: 500;
    margin: 3vw 6vw;
    color: #56667A;
    display: flex;
    flex-wrap: wrap;
}
.filterButton{
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #56667A;
    cursor: pointer;
    transition: 0.2s;
}
.filterButton:hover{
    background-color: #56667A;
    color: #ffffff;
}
.filterButtonSelected{
    background-color: #56667A;
    color: #ffffff;
}