.serviceBanner{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('/Assets/serviceBanner.jpeg');
    min-height: calc(100vh - 60px);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.serviceBannerContent{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.625rem, 1.5592rem + 0.2632vw, 1.875rem);
}
.serviceL, .serviceR{
    display: flex;
    padding: 6vw;
}
.serviceL{
    background-color: rgba(86, 102, 122, 0.1);
}
.servicePartitionDiv{
    flex: 0.1;
}
.serviceImgL, .serviceImgR{
    flex: 1;
    /* align-items: center; */
}
.serviceImgL img, .serviceImgR img{
    object-fit: cover;
    width: 550px;
    height: 309px;
}
.serviceImgR {
    display: flex;
}
.serviceImgL{
    display: flex;
    justify-content: flex-end;
}
.serviceText{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.serviceTextHeadingL, .serviceTextHeadingR{
    text-transform: uppercase;
    margin-bottom: 9px !important;
}
.serviceTextHeadingL{
    width: 100%;
    text-align: left;
}
.serviceTextHeadingR{
    width: 100%;
    text-align: right;
}
.serviceTextContentL{
    width: 100%;
    text-align: left;
}
.serviceTextContentR{
    width: 100%;
    text-align: right;
}

@media (max-width: 1400px){
    .serviceImgL img, .serviceImgR img{
        width: 350px;
        height: 197px;
    }
}
@media (max-width: 992px){
    .serviceL, .serviceR{
        flex-direction: column;
        /* padding: 40px; */
    }
    .serviceR{
        flex-direction: column-reverse;
    }
    .serviceImgL, .serviceImgR{
        justify-content: center !important;
        margin-bottom: 20px;
    }
    .servicePartitionDiv{
        display: none;
    }
    .homeAboutSectionHeading{
        width: 100%;
        text-align: left;
    }
}
@media (max-width: 768px){
    .serviceImgL img, .serviceImgR img{
        width: 250px;
        height: 141px;
    }
}